<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - projetoMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/projetoMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
         <nav class="navbar navbar-expand-lg topo ">
      <a class="navbar-brand text-light" href="Tecnolig.IA.HTML">Tecnolog.IA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link text-light" href="Tecnolig.IA.HTML">Inicio <span class="sr-only">(página
                atual)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-light" href="Parceria.HTML">Parceria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Sobre</a>
          </li>
          
        </ul>
      </div>
            @Html.Partial("_LoginPartial")
    </nav>
        
    </header>
    <div class="containerx">
        
            @RenderBody()
        
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - projetoMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
