@model IEnumerable<projetoMVC.Models.NoticiasModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="mx-auto">
    <div class="card-header">
        Destaque
    </div>
    <div class="card-body">
    </div>

    <div class="container1 scrolling">
        <div class="row">
            <div class="col-md-2">
                <img class="card-img-top" src="img/Noticia1.jpg">
            </div>
            <div class="col-md-2">
                <img class="card-img-top" src="img/Noticia1.jpg">
            </div>
            <div class="col-md-2">
                <img class="card-img-top" src="img/Noticia1.jpg">
            </div>
            <div class="col-md-2">
                <img class="card-img-top" src="img/Noticia1.jpg">
            </div>
            <div class="col-md-2">
                <img class="card-img-top" src="img/Noticia1.jpg">
            </div>
            <div class="col-md-2">
                <img class="card-img-top" src="img/Noticia1.jpg">
            </div>



        </div>


    </div>

    <div class="mx-auto row mt-5  " style="width:400px;">
        <p> NOTÍCIAS SOBRE INTELIGENCIA ARTIFICIAL</p>
    </div>
    <div class="noticias">

        @foreach (var item in Model)
        {
            <div class="row mt-2">
                <div class="col-md-3 fotox">
                    <div class="mx-auto">
                        <!--  style="width:400px;" -->
                        <img src="img/Noticia2.webp" alt="" class="img-thumbnail">
                    </div>
                </div>
                <div class="col-md-7">
                    <h2> <a href="noticia1.html">@item.Titulo </a>  </h2>
                    <h3>
                        <small class="text-muted">@item.SubTitulo
                        </small>
                    </h3>
                    <p class="lead text-justify">
                        @item.Manchete
                    </p>
                </div>
            </div>
        }
    </div>
</div>