@{
    ViewData["Title"] = "Home Page";
}

<div class="mx-auto"> 
      <div class="card-header">
        Destaque
      </div>
      <div class="card-body">
      </div>

      <div class="container1 scrolling">
          <div class="row">
            <div class="col-md-2">
                <img class="card-img-top" src="img/Noticia1.jpg">
            </div>
            <div class="col-md-2">
                <img class="card-img-top" src="img/Noticia1.jpg">
            </div>
            <div class="col-md-2">
                <img class="card-img-top" src="img/Noticia1.jpg">
            </div>
            <div class="col-md-2">
                <img class="card-img-top" src="img/Noticia1.jpg">
            </div>
            <div class="col-md-2">
                <img class="card-img-top" src="img/Noticia1.jpg">
            </div>
            <div class="col-md-2">
                <img class="card-img-top" src="img/Noticia1.jpg">
            </div>
            


          </div>
        

    </div>

      <div class="mx-auto row mt-5  " style="width:400px;">
        <p> NOTÍCIAS SOBRE INTELIGENCIA ARTIFICIAL</p>
      </div>
      <div class="noticias">

        <div class="row mt-2">
          <div class="col-md-3 fotox">
            <div class="mx-auto">  <!--  style="width:400px;" -->
              <img src="img/Noticia2.webp" alt="" class="img-thumbnail">
            </div>
          </div>
          <div class="col-md-7">
            <h2> <a href="noticia1.html">Inteligência artificial: Google diz que vai colaborar em regulação no país </a>  </h2>
            <h3><small class="text-muted">Plataforma reconhece riscos associados à tecnologia e diz que dialoga com o
                Executivo e o Legislativo sobre o tema </small></h3>
            <p class="lead text-justify">Enquanto a proposta de moderar conteúdo nas redes sociais, prevista no chamado
              PL
              das
              Fake News, provocou choques intensos entre as instituições de Estado e as plataformas digitais, a
              discussão
              sobre. </p>
          </div>
        </div>
<!--
        <div class="row mt-2">
          <div class="col-md-3 fotox">
            <div class="mx-auto" style="width:400px;">
              <img src="img/Noticia4.webp" alt="" class="img-thumbnail">
            </div>
          </div>
          <div class="col-md-7">
            <h2> <a href="noticia1.html">As novas (e assustadoras) preocupações com a inteligência artificial </a> </h2>
            <h2><small class="text-muted">Ou... Como o mundo vê a regulação do uso da IA </small></h2>
            <p class="lead text-justify">A preocupação com a propagação das tecnologias aliadas à inteligência
              artificial
              não
              acontece só do Brasil, que sofre há anos tentando combater o modelo de divulgação em massa de notícias
              falsas
              adota. </p>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-3 fotox">
            <div class="mx-auto" style="width:400px;">
              <img src="img/Noticia3.webp" alt="" class="img-thumbnail">
            </div>
          </div>
          <div class="col-md-7">
            <h2><a href=""> O silêncio das big techs diante do movimento do Brasil para regular a IA </a> </h2>
            <h2><small class="text-muted">Diferentemente da postura que adotaram em relação ao PL das Fake News,
                companhias
                como Google e Meta não querem comentar projeto em discussão no Congresso </small></h2>
            <p class="lead text-justify">A evolução vertiginosa dos sistemas de inteligência artificial (IA) traz à
              tona,
              inevitavelmente, uma série de preocupações sobre novos crimes virtuais e coloca em xeque a capacidade das
              autoridades g... </p>
          </div>
        </div>
-->
      </div>
    </div>